<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jxd.android.gohomeapp.quanmodule">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity
                android:name=".MainActivity2"
                android:theme="@style/QuanAppTheme"/>
        <activity
                android:name=".SearchActivity"
                android:theme="@style/QuanAppTheme"/>
        <activity
                android:name=".DetailActivity"
                android:theme="@style/QuanAppTheme"/>

        <meta-data
                android:name="android.max_aspect"
                android:value="2.4"/>

        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
                android:name="android.notch_support"
                android:value="true"/>
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
                android:name="notch.config"
                android:value="portrait|landscape"/>

        <activity android:name=".TutorialsActivity" />
        <activity android:name="${applicationId}.wxapi.WXEntryActivity"
                  android:exported="true"
                  android:launchMode="singleTop" />
        <activity android:name="${applicationId}.wxapi.WXPayEntryActivity"
                  android:exported="true"
                  android:launchMode="singleTop"/>

    </application>

</manifest>